.formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20em;
    margin: auto;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-logo{
    width: 290px;
}
body{
    font-family: "Roboto", time;
}
.login-button{
    padding: 10px;
    margin-top: 23px;
    background: var(--adixion-gradient);
    color: var(--black-adixion);
    font-size: 22px;
    font-weight: 600;
    border: unset;
    border-radius: 10px;
}

.register-redirect{
    margin-top: 20px;
    cursor: pointer;
}
.register-redirect:hover{
    margin-bottom: solid 1.5px  var(--adixion-gradient);
}